@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make the background black and add the src/images/bg.jpg as background */
html,
body {
	background-color: black;
	text-shadow: 1px 1px 1px #0e0e0e;
	margin-top: 10px;
	font-family: 'Shentox', sans-serif;
	font-size: 1.1em;
}
