/* We have this file because app.css can be overridden */

body {
  margin: 0;
  color: var(--color-background-50);
  /* overflow: hidden; */
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-400);
  border-radius: 10px;
  /* border: 2px solid #2c2c35; */
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}